.button {
  position: relative;
  background: var(--color-button_background);
  color: var(--color-button_color);
  font: normal normal normal 18px/22px Roboto;
  border: none;
  border-radius: 31px;
  padding: 20px 30px;
  cursor: pointer;
  outline: none;
  transition: all 0.2s;
  margin: 10px;
  box-sizing: border-box;
}

.button:focus,
.button:hover {
  background: var(--color-button_background_hover);
}
.button:active {
  box-shadow: inset 5px 5px 6px -3px #0006;
  background: var(--color-button_background);
}

.button_invert {
  background: var(--color-button_color);
  color: var(--color-button_background);
  box-shadow: 0 0 0 2px var(--color-button_background);
}
.button_invert:hover,
.button_invert:focus {
  color: var(--color-button_color);
}

.button_disabled,
.button_disabled:focus,
.button_disabled:hover {
  background: var(--color-button_background-disabled);
  cursor: not-allowed;
}

.button_stretch {
  width: calc(100% - 20px);
}

.button_loading > .button__content {
  color: transparent;
}

.button__loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -0.5em 0 0 -0.5em;
}
.button_invert.button_loading:hover > .button__loading > .loading__path,
.button_invert.button_loading:focus > .button__loading > .loading__path {
  stroke: var(--color-loading_invert);
}
