.form {
  background: var(--color-form_background);
  color: var(--color-form_color);
}

.form__icon_password {
  margin: 0 17px 5px 1px;
}
.form__icon_email {
  margin: 1px 14px 0 0;
}

.form__title {
  font: normal normal bold 28px/34px Roboto;
  padding-bottom: 15px;
  margin: 11px 9px 12px 11px;
  text-align: center;
}
