.form {
  background: var(--color-registration-form_background);
  max-width: 400px;
  width: 100%;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 22px 5px 43px 5px;
  margin: 15px;
  color: var(--color-registration-form_color);
}

.form__icon_password {
  margin: 0 17px 5px 1px;
}
.form__icon_email {
  margin: 1px 14px 0 0;
}

.form__title {
  font: normal normal bold 28px/34px Roboto;
  padding-bottom: 15px;
  margin: 11px 9px 12px 11px;
  text-align: center;
}


@media (min-width: 400px) {
  .form {
    padding: 22px 18px 43px 19px;
  }
}
