.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100vw;
  max-width: 420px;
  max-height: 100vh;
  /*noinspection CssInvalidPropertyValue*/
  max-height: -webkit-fill-available;
  overflow-y: auto;
  overflow-x: hidden;
  border: 10px solid var(--color-modals_background);
  background: var(--color-modal_background);
  color: var(--color-modal_color);
  border-radius: 18px;
  box-sizing: border-box;
  padding: 22px 5px 43px 5px;
  text-align: center;
}

.modal + .modal {
  display: none;
}

.modal__title {
  font: normal normal bold 28px/34px Roboto;
  padding-bottom: 15px;
  margin: 11px 9px 12px 11px;
  text-align: center;
}


@media (min-width: 400px) {
  .modal {
    padding: 22px 18px 43px 19px;
  }
}
