@keyframes show-error {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hide-error {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(5px);
  }
}

.field {
  display: flex;
  margin: 21px 10px 21px;
  background: var(--color-field_background);
  border: none;
  height: 50px;
  justify-content: stretch;
  align-items: center;
  border-radius: 8px;
  padding: 0 18px;
  cursor: pointer;
  position: relative;
}

.field__input {
  outline: none;
  width: 100%;
  border: none;
  font: normal normal normal 14px/17px Roboto;
  color: var(--color-field_color);
  background: transparent;
}
.field__input::placeholder {
  color: var(--color-field_placeholder);
}

.field__focus {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid var(--color-field_focus);
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: inherit;
  pointer-events: none;
}
.field__input:focus + .field__focus {
  opacity: 1;
}
.field__input_select {
  opacity: 0;
}

.field__select {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font: normal normal normal 14px/17px Roboto;
  padding: 0 18px;
  display: flex;
  align-items: center;
  color: var(--color-field_color);
}
.field__select_placeholder {
  color: var(--color-field_placeholder);
}

.field__select-arrow {
  transition: transform 0.3s;
}
.field__input:focus ~ .field__select-arrow {
  transform: rotateZ(180deg);
}

.field__menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  background: var(--color-field_select-background);
  box-shadow: 0 3px 8px #00000026;
  color: var(--color-field_color);
  border-radius: 8px;
  margin: 6px 0 0;
  padding: 6px 0;
  list-style: none;
  display: none;
  max-height: 277px;
  overflow: auto;
  transition: all 0.3s;
}
.field__input:focus ~ .field__menu {
  display: block;
  animation: show-error 0.3s;
}

.field__menu-item {
  padding: 10px 19px 9px;
  font: normal normal normal 14px/32px Roboto;
}

.field__menu-item:hover {
  background: var(--color-field_select-item_hover);
}

.field__error {
  position: absolute;
  top: 100%;
  max-width: calc(100% - 18px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 2px;
  left: 18px;
  color: var(--color-field_error);
  font: normal normal normal 10px/13px Roboto;
  animation: show-error 0.3s both;
}
.field__input:focus ~ .field__error {
  animation: hide-error 0.3s both;
}

.field__radiobox {
  margin: 29px 10px 24px;
  position: relative;
}
.field__radiobox-label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-right: 25px;
}
.field__radiobox-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.field__radiobox-placeholder {
  font: normal normal normal 14px/17px Roboto;
}
.field__radiobox-mark {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid var(--color-field_radio);
  border-radius: 50%;
}
.field__radiobox-mark:before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 3px;
  background: var(--color-field_radio);
  transform: scale(0);
  opacity: 0;
  transition: all 0.3s;
}

.field__radiobox-input:checked + .field__radiobox-mark:before {
  transform: scale(1);
  opacity: 1;
}

.field__checkbox {
  margin: 29px 10px 32px;
  position: relative;
}
.field__checkbox-label {
  display: inline-flex;
  gap: 8px;
  cursor: pointer;
}
.field__checkbox-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.field__checkbox-mark {
  width: 14px;
  height: 14px;
  border: 1px solid var(--color-field_radio);
  border-radius: 3px;
}
.field__checkbox-mark-icon {
  margin: 1px 1px 2px;
  transition: all 0.3s;
  opacity: 0;
  transform: scale(0);
}
.field__checkbox-input:checked ~ .field__checkbox-mark > .field__checkbox-mark-icon {
  opacity: 1;
  transform: scale(1);
}
.field__checkbox-placeholder {
  font: normal normal normal 14px/17px Roboto;
}

.field__radiobox-input:focus ~ .field__radiobox-mark,
.field__checkbox-input:focus ~ .field__checkbox-mark {
  box-shadow: 0 0 0 1px var(--color-field_radio);
}

@media (min-width: 400px) {
  .field__input_select > option {
    display: none;
  }
}

@media (max-width: 400px) {
  .field__select {
    pointer-events: none;
  }
  .field__menu {
    display: none !important;
  }
}
