@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background: #102250;
  color: #222;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  /* palette */
  --color-light: #fff;
  --color-gray: #a2a2a2;
  --color-gray-light: #f5f8fa;
  --color-dark: #222;
  --color-accent: #0094ff;
  --color-accent-light: #2aa3ff;
  --color-error: #e82828;

  /* elements */
  --color-login-form_background: var(--color-light);

  --color-button_background: var(--color-accent);
  --color-button_background_hover: var(--color-accent-light);
  --color-button_color: var(--color-light);

  --color-field_background: var(--color-gray-light);
  --color-field_placeholder: var(--color-gray);
  --color-field_color: var(--color-dark);
  --color-field_focus: var(--color-accent);
  --color-field_error: var(--color-error);
  --color-field_select-background: var(--color-light);
  --color-field_select-item_hover: var(--color-gray-light);
  --color-field_menu-color: var(--color-dark);
  --color-field_radio: var(--color-accent);

  --color-link: var(--color-accent)
}
